@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 0 0% 3.9%; /* neutral-950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 0 0% 3.9%; /* neutral-950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 0 0% 3.9%; /* neutral-950 */

    --primary: 160 84% 39%; /* emerald-500 */
    --primary-foreground: 0 0% 98%; /* neutral-50 */

    --secondary: 0 0% 96.1%; /* neutral-100 */
    --secondary-foreground: 0 0% 9%; /* neutral-900 */

    --muted: 0 0% 96.1%; /* neutral-100 */
    --muted-foreground: 0 0% 45.1%; /* neutral-500 */

    --accent: 0 0% 96.1%; /* neutral-100 */
    --accent-foreground: 0 0% 9%; /* neutral-900 */

    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* neutral-50 */

    --border: 0 0% 89.8%; /* neutral-200 */
    --input: 0 0% 89.8%; /* neutral-200 */
    --ring: 160 84% 39%; /* emerald-500 */

    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3.9%; /* neutral-950 */
    --foreground: 0 0% 98%; /* neutral-50 */

    --card: 0 0% 3.9%; /* neutral-950 */
    --card-foreground: 0 0% 98%; /* neutral-50 */

    --popover: 0 0% 3.9%; /* neutral-950 */
    --popover-foreground: 0 0% 98%; /* neutral-50 */

    --primary: 161 94% 30%; /* emerald-600 */
    --primary-foreground: 0 0% 98%; /* neutral-50 */

    --secondary: 0 0% 14.9%; /* neutral-800 */
    --secondary-foreground: 0 0% 98%; /* neutral-50 */

    --muted: 0 0% 14.9%; /* neutral-800 */
    --muted-foreground: 0 0% 63.9%; /* neutral-400 */

    --accent: 0 0% 14.9%; /* neutral-800 */
    --accent-foreground: 0 0% 98%; /* neutral-50 */

    --destructive: 0 74% 42%; /* red-700 */
    --destructive-foreground: 0 0% 98%; /* neutral-50 */

    --border: 0 0% 14.9%; /* neutral-800 */
    --input: 0 0% 14.9%; /* neutral-800 */
    --ring: 161 94% 30%; /* emerald-600 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
